---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout title="Welcome to Astro." description="Astro description">
  <article class="divide-y-2">
    {
      posts.map((post) => (
        <a
          href={`/articles/${post.slug}`}
          class="text-3xl text-slate-800 font-semibold block py-4"
        >
          {post.data.title}
        </a>
      ))
    }
  </article>
</Layout>
